<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills User Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/Maindashboard.css">
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/aside') %>
        <main>
            <%- include('../partials/mobileHeader') %>
           <div class="dashboard-main-top">
                <h1>Dashboard</h1>
                <div class="input-bar">
                    <div>
                        <img src="images/tabler-icon-bell.png" alt="">
                    </div>
                    <div class="profile-picture">
                        <img src="images/Frame 12.png" alt="profile-picture">
                    </div>
                </div>
           </div>

            <div class="dash-items">
                <div class="blue-background">
                    <div class="welcome-msg">
                        <h1>WELCOME BACK, <%= user.name %></h1>
                        <p>Verify Your Identity To Get Started.</p>
                    </div>
                    <div class="verify-btn">
                        <p></p>
                        <a href="/verify_now"><button>Verify Now</button></a>
                    </div>
                </div>
            </div>

            <div class="airtime-area">
                <div class="main-airtime">
                    <a href="/airtime">
                        <div class="icon-box">
                            <img src="images/tabler-icon-access-point.png" alt="">
                        </div>
                        <div>
                            <h3>Buy Airtime</h3>
                            <p>purchase airtime bundle</p>
                        </div>
                    </a>
                </div>
                <div class="main-airtime">
                    <a href="/data">
                        <div class="icon-box">
                            <img src="images/tabler-icon-id.png" alt="">
                        </div>
                        <div>
                            <h3>Top up</h3>
                            <p>purchase data bundle</p>
                        </div>
                    </a>
                </div>
                <div class="main-airtime">
                    <a href="/billpayment">
                        <div class="icon-box">
                            <img src="images/tabler-icon-battery-automotive.png" alt="">
                        </div>
                        <div>
                            <h3>Pay a bills</h3>
                            <p>purchase your TV Cable</p>
                        </div>
                    </a>
                </div>
                <div class="main-airtime">
                    <a href="/wallet">
                        <div class="icon-box">
                            <img src="images/tabler-icon-wallet.png" alt="">
                        </div>
                        <div>
                            <h3>Fund wallet</h3>
                            <p>easy payment method</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="history-table">
                <h2>ALL HISTORY</h2>
                <% if (transactions.length > 0) { %>
                    <div class="flex flex-col">
                        <div class="overflow-x-auto">
                            <div class="inline-block min-w-full">
                                <div class="overflow-hidden">
                                    <table class="min-w-full text-left text-sm font-light">
                                        <thead
                                        class="font-medium dark:border-neutral-500 dark:bg-neutral-600">
                                            <tr>
                                                <th scope="col" class="px-6 py-4">Transaction</th>
                                                <th scope="col" class="px-6 py-4">Amount (NGN)</th>
                                                <th scope="col" class="px-6 py-4">Status</th>
                                                <th scope="col" class="px-6 py-4">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% transactions.forEach(function(transaction) { %>
                                                <tr
                                                    class="bg-white dark:border-neutral-500 dark:bg-neutral-600">
                                                    <td class="whitespace-nowrap px-6 py-4"><%= transaction.description %></td>
                                                    <td class="whitespace-nowrap px-6 py-4"><%= transaction.amount %></td>
                                                    <td class="whitespace-nowrap px-6 py-4"><%= transaction.status %></td>
                                                    <td class="whitespace-nowrap px-6 py-4"><%= transaction.updatedAt %></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <p>No recent transcations</p>
                <% } %>
            </div>

        </main>
    </section>
    <script src="js/dashboard.js"></script>
</body>
</html>