<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paytonaira | Dashboard</title>
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/Maindashboard.css">
    <link rel="icon" type="image/x-icon" href="/img/logo-img.png">

    
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/aside') %>
        
    <div class="dashboard-wall">
        <div class="container">
            <section class="header">
                <h1>Hey <%= user.name %>, <br> Welcome to Pay To Naira</h1>
                <p>There are many possiblities 
                    you can achieve with us. 
                    Let's show you how buy and 
                    sell is easy.</p>
            </section>
            <section class="what-we-offer">
                <div class="sect-border">
                    <div class="crypto-img">
                        <img src="/img/crypto-icon.png" alt="">
                    </div>
                    <div class="buy-or-sell">
                        <h3>Buy or Sell cryptocurrency</h3>
                        <p>There are many possiblities
                             you can achieve with us. 
                             Let show you how buy and 
                             sell is easy.</p>
                    </div>
                    <div class="icon-button">
                        <a href="/trades/crypto"><img src="/img/next.png" alt=""></a>
                    </div>
                </div>
                <div class="sect-border">
                    <div class="crypto-img">
                        <img src="/img/crypto-icon.png" alt="">
                    </div>
                    <div class="buy-or-sell">
                        <h3>Buy or Sell PayPal, Payoneer Funds</h3>
                        <p>There are many possiblities
                             you can achieve with us. 
                             Let show you how buy and 
                             sell is easy.</p>
                    </div>
                    <div class="icon-button">
                        <a href="/trades/paypal"> <img src="/img/next.png" alt=""> </a>
                    </div>
                </div>
                <div class="sect-border">
                    <div class="crypto-img">
                        <img src="/img/crypto-icon.png" alt="">
                    </div>
                    <div class="buy-or-sell">
                        <h3>Trade your Giftcard</h3>
                        <p>There are many possiblities
                             you can achieve with us. 
                             Let show you how buy and 
                             sell is easy.</p>
                    </div>
                    <div class="icon-button">
                        <a href="/trades/giftcard"><img src="/img/next.png" alt=""></a>
                    </div>
                </div>
                <a href="">
                <div class="whatsapp">
                    <i class="fa fa-whatsapp" style="font-size:30px;color:white"></i>
                </div>
                </a>
            </section>
            
            <section class="crypto-table">
                <h1>Trading rates for today</h1>
                <% if (tradePrice.length > 0){ %>
                    <table class="table">
                        <tr class="crypto-header">
                            <td>Service</td>
                            <td>Buy Rate</td>
                            <td>Sell Rate</td>
                            <td>Currency</td>
                            <td>Trade type</td>
                            <td>Availability</td>
                        </tr>
                        <% tradePrice.forEach(function(data){ %>
                            <tr class="crypto-line1">
                                <td><%= data.trade_type %></td>
                                <td><%= data.dollar_sell_price? "₦" + data.dollar_sell_price : " Nill" %></td>
                                <td><%= data.dollar_buy_price? "₦" + data.dollar_buy_price : "Nill" %></td>
                                <td ><%= data.currency %></td>
                                <td ><%= data.service_id %></td>
                                <td><%= data.is_available? "Yes": "No" %></td>
                            </tr>
                       <% }) %>
                    </table>
                <% }else{ %>
                    <table>
                        <tr class="crypto-header">
                            <td>Service</td>
                            <td>Buy Rate</td>
                            <td>Sell Rate</td>
                            <td>Currency</td>
                            <td>Trade type</td>
                            <td>Availability</td>
                            <td>Action</td>
                        </tr>
                    </table>
                    <p>No Trade price set yet by admin Come back later!</p>
                <% } %>
            </section>
            <script src="js/dashboard.js"></script>
        </div>
    </div>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>