<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBills | Buy Data</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/DataPlans.css">
</head>
<body>
    <section class="dashboard-container">
        <%- include('../partials/aside') %>

        <main>
            <%- include('../partials/mobileHeader') %>
            <div class="dashboard-main-top">
                <h1>BUY DATA</h1>
                <div class="input-bar">
                    <div>
                        <img src="images/tabler-icon-bell.png" alt="">
                    </div>
                    <div class="profile-picture">
                        <img src="images/Frame 12.png" alt="profile-picture">
                    </div>
                </div>
            </div>

           <div class="form-group">
                <div class="choose form-field">
                    <label class="bold" for="network">SELECT NETWORK PROVIDER</label>
                    <select class="network" name="network" id="network" value="Select Option">
                        <option value="">Select Option</option>
                        <option value="BCA SME">MTN NG</option>
                        <option value="BCC GIFTING">GLO</option>
                        <option value="BCB GIFTING">9MOBILE</option>
                        <option value="BCD GIFTING">AIRTEL NG</option>
                    </select>
                </div>
                <div class="choose form-field">
                    <label class="bold" for="prices">CHOOSE PLAN</label>
                    <select class="prices" name="prices" id="prices" value="Select Option">
                        <option value="">Select Option</option>
                        <% details.forEach(function(detail, i, arr){ -%>
                            <option value="<%= detail.code %> <%= detail.cost %>"><%= detail.cost %> for <%= detail.value %>MB</option>
                        <% }); -%>
                    </select>
                </div>
           </div>

            <div class="form-group">
                <div class="form-field">
                    <label class="bold" for="phoneNumber">PHONE NO.</label>
                    <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="90 4563 763 275">
                </div>
                <div class="form-field">
                    <label class="bold" for="amount">AMOUNT</label>
                    <input type="number" name="amount" id="amount" placeholder="0.00">
                </div>
            </div>

            <div class="page-end">
                <p class="flex gap-6 bold wallet-balance">
                    Total Bal.<span><%= balance %></span>
                </p>
                <div class="ctas">
                    <button class="cta share">share</button></a>
                    <button class="cta submit">Continue</button>
                </div>
            </div>
        </main>
    </section>
    
    <script src="js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let walletBalance = 0;
        const balanceElement = document.querySelector('.wallet-balance > span')
        walletBalance = Number(balanceElement.textContent)
        balanceElement.textContent = `N${walletBalance}`

        const networkSelect = document.querySelector('select.network')
        const pricesSelect = document.querySelector('select.prices')
        const continueButton = document.querySelector('button.submit')
        const phoneNumberInput = document.querySelector('input#phoneNumber')

        const resetInputs = () => {
            networkSelect.value = ""
            pricesSelect.value = ""
            phoneNumber.value = ""
        }

        const validatedData = () => {
            const item = pricesSelect.value
            let [code, amount] = pricesSelect.value.split(" ")
            amount = Number(amount)
            const [service_id, service_type] = networkSelect.value.split(" ")
            const phoneNumber = phoneNumberInput.value

            // validate data
            if (!service_id || !service_type) {
                alert('Pls select network')
                return false
            }

            if (!amount || !code ) {
                alert('Pls choose plan')
                return false
            }
            if (walletBalance < amount) {
                alert('not enough balance in your wallet')
                return false
            }

            if (!phoneNumber) {
                alert('Pls enter phone number')
                return false
            }

            return {
                amount, code,
                beneficiary: phoneNumber,
                service_id, service_type
            }

        }

        const recharge = () => {
            if (!validatedData()) {
                return
            }

            const {
                amount, code,
                beneficiary,
                service_id, service_type
            } = validatedData()
            
            continueButton.textContent = 'Please wait'
             // send to server for purchase
             axios.post("/api/v1/data_plan/recharge", {
                amount,
                code,
                beneficiary,
                service_id,
                service_type,
            })
            .then(res => {
                const { data } = res
                walletBalance = data.balance || walletBalance - amount
                balanceElement.textContent = `N${walletBalance}`
                alert('transaction succesfull')
                resetInputs()
                continueButton.textContent ='continue'
            })
            .catch(error => {
                if (error.response) {
                    const { data, status } = error.response
                    if (status === 401 || status === 405) {
                        window.location.href = '/data'
                    }
                    const message = data.message || 'unable to complete transaction'
                    alert(message)
                }
                else {
                    alert('unable to complete transaction')
                }
                continueButton.textContent ='continue'
                resetInputs()
                console.log('error', error);
            })
        }

        continueButton.addEventListener('click', () => {
            recharge()
        })

        const fetchPrices = (service_id, requestType) => {
            const data = {
                service_id, requestType
            }
            axios.post("/api/v1/data_plan/prices", data)
            .then((response) => {
                const prices = response.data
                pricesSelect.innerHTML = `<option value="">Select Option</option>`
                for (let index = 0; index < prices.length; index++) {
                    const price = prices[index];
                    pricesSelect.innerHTML += `<option value='${price.code} ${price.cost}'>${price.cost} for ${price.value}mb</option>`
                }
            })
            .catch(error => {
                console.log(error);
            })
        }

        networkSelect.addEventListener('change', (event) => {
            const item = event.target.value
            const [service_id, requestType] = item.split(" ")
            fetchPrices(service_id, requestType)
        })

        pricesSelect.addEventListener('change', (event) => {
            const [code, amount] = event.target.value.split(" ");
        })

    </script>
</body>
</html>